*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}

html.dark-mode,
html.dark-mode body {
  background-color: #121212;
  color: #fff;
}

html.dark-mode .box{
  background-color: #574040;
  color: #fff;
}

.heading{
  text-align: center;
  margin-top: 30px;
}

#main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}


#main .container{
  text-align: center;
}

button{
  padding: 10px 20px;
  border: none;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #0000006c;
  color: #fff;
}

.box{
  height: 100px;
  width: 400px;
  background-color: #574040;
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box.hidden{
  display: none;
}